body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

$day-size: 100px;
$border-width: 1px;
$gap: 1px;
$columns: 7;
$padding: 10px;
$font-size: 30px;
$day-bg: #eee;
$border-color: #000;

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $padding;
  max-width: calc(
    #{$padding * 2} + #{$day-size * $columns} + #{$gap * ($columns - 1)}
  );
  box-sizing: border-box;
}

.calendar__day {
  width: $day-size;
  height: $day-size;
  background-color: $day-bg;
  border: $border-width solid $border-color;
  position: relative;
  box-sizing: border-box;
  transition:
    background-color 0.5s,
    transform 0.5s;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: $font-size;
  }

  &:hover {
    cursor: pointer;
    background-color: #ffbfcb;
    transform: translateY(-20px);
  }
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

@for $length from 28 through 30 {
  .calendar--month-length-#{$length} {
    @for $i from ($length + 1) through 31 {
      .calendar__day:nth-child(#{$i}) {
        display: none;
      }
    }
  }
}

$start-days: (
  mon: 1,
  tue: 2,
  wed: 2,
  thu: 4,
  fri: 5,
  sun: 6,
  sat: 7,
);

@each $day, $index in $start-days {
  .calendar--start-day-#{$day} {
    .calendar__day:first-child {
      margin-left: ($day-size + $gap) * $index;
    }
  }
}
